*{
  font-family: 'Montserrat', sans-serif;
}
.crossed{
  text-decoration: line-through;
  background:pink;
}
ul, li{
  list-style-type: none;
  padding:8px;
  margin:0px;
  color:black;
}
li{
  background-color:white;
}
form{
 margin:100px;
 border: 1px solid black; 
 border-radius:20px;
 padding:40px;
 background:rgba(14,14,14,0.5)
}
body{
  display:flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
input{
  padding:10px;
}
.button{
  margin:5px;
  display:flex; 
}
button{
  flex:1;
  padding:8px;
}
.add{
background-color:bisque;
border:none;
}
.clear{
  background-color:blanchedalmond;
  border:none;
}
h1{
  color:white;
}